.main-contact {
  background-color: #0F0F0F;
  color: #F8F5F0;
  padding: 75px 10%;
  min-height: 85.6vh;
    overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    "map contact-social"
    "note hours";
  gap: 40px;
}

.contact-social{
    display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contact"
    "social";
  gap: 40px;
}


/* GRID AREAS */
.map {
  grid-area: map;
}

.contact {
  grid-area: contact;
}

.social {
  grid-area: social;
}

.hours {
  grid-area: hours;
}

.contact-note {
  grid-area: note;
}

/* MAP */
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  border: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.45);
}

/* CONTACT + HOURS + SOCIAL CARDS */

.contact,
.social,
.hours,
.contact-note {
  background-color: #1E1E1E;
  padding: 30px 30px 0px 30px;
  border-radius: 14px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.45);
  margin: 0;
}

/* CONTACT LINKS */
.contact a {
  display: block;
  color: #C9A227;
  text-decoration: none;
  margin-bottom: 14px;
  font-size: 16px;
}


/* HEADINGS */
.main-contact h3 {
  color: #C9A227;
  font-family: 'Playfair Display', serif;
  margin-bottom: 12px;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 14px;
  margin: 14px 0;
}

.social-icons a {
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

/* NOTE UNDER MAP */
.contact-note {
  font-size: 14px;
  color: #B5B5B5;
  line-height: 1.6;
}

.contact-note p{
    font-size: medium;
    color: #F8F5F0;
}

/* MOBILE */
@media (max-width: 768px) {
  .main-contact {
    grid-template-columns: 1fr;
    grid-template-areas:
      "map"
      "note"
      "contact"
      "social"
      "hours";
    padding: 60px 6%;
  }

  .map iframe {
    height: 260px;
  }
  .main-contact {
    background-color: #0F0F0F;
    color: #F8F5F0;
    padding: 75px 10%;
    min-height: 89vh;
    overflow: hidden;
    display: grid;
    gap: 23px;}
}
