.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle input {
  display: none;
}

.rest-logo{
    height: 250px !important;
    width: 350px !important;
}

.slider {
  width: 40px;
  height: 20px;
  background: #3A3A3A;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.slider::before {
  content: "";
  width: 16px;
  height: 16px;
  background: #F8F5F0;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background: #C9A227;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

.input{
  background-color: #1E1E1E !important;
  color: #F8F5F0 !important;
  border: 1px solid #333 !important;
}

.input::placeholder {
  font-size: 17px !important;
  color: #fffefe !important;
}

.input:focus {
  background-color: #1E1E1E;
  border-color: #C9A227;
  box-shadow: 0 0 0 2px rgba(201, 162, 39, 0.25);
  outline: none;
}

.btn-primary {
  background: linear-gradient(135deg, #C9A227, #F1D27A);
  color: #121212 ;
  border: none;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(201, 162, 39, 0.35);
}

.btn-primary:hover {
  background: linear-gradient(135deg, #D4AF37, #FFD966);
  box-shadow: 0 6px 18px rgba(201, 162, 39, 0.55);
  transform: translateY(-1px);
}

.btn-primary:active {
  transform: scale(0.97);
}

.register-main{
    display: flex !important;
  align-items:center;
  justify-content: flex-start !important;
  flex-direction: column;
  background-color: #0F0F0F;
  min-height: 85.6vh;
}

.form-control:focus {
  border-color: #C9A227;
  box-shadow: 
    0 0 0 2px rgba(201, 163, 39, 0.732),
    0 0 12px rgba(201, 162, 39, 0.35);
  outline: none;
}