.about-page {
  background-color: #0F0F0F;   
  color: #F8F5F0;
  padding: 80px 10%;
}

.about-page h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  color: #C9A227;              
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto 16px;
}


.about-page > div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  height: 60%;
  width: 4px;
  background-color: #C9A227;
  border-radius: 2px;
}

.about-page > div {
  background-color: #1E1E1E;     
  border-radius: 12px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  padding: 30px 40px;   
  margin-bottom: 30px;
  position: relative;
  
}

.about-page > div:hover{
    
    box-shadow:
    0 8px 30px rgba(255, 253, 253, 0.322),
    0 1px 0 rgba(234, 234, 234, 0.366) !important;
}

.about-page > div:first-child {
  padding: 60px;
  background: linear-gradient(135deg, #1E1E1E, #262626);
}

.about-page > div:nth-child(even) {
  background-color: #262626;
}

.about-page > div:nth-child(odd) {
  background-color: #1E1E1E;
}

.about-page p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #CFCFCF;
  max-width: 850px;
  margin: 0 auto 18px;
  text-align: left;;
}

.about-page h2 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #C9A227;
  margin: 60px 0 20px;
  text-align: center;
}

.about-page ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.about-page ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #E6E6E6;
  padding: 10px 0;
  border-bottom: 1px solid #2C2C2C;
  background-color: #1A1A1A;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #2E2E2E;
}

.about-page h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #C9A227;
  margin: 12px auto 0;
}

@media (max-width: 768px) {
  .about-page {
    padding: 60px 6%;
  }

  .about-page h1 {
    font-size: 32px;
  }

  .about-page h2 {
    font-size: 22px;
  }

  .about-page p {
    font-size: 15px;
  }
}

.closing-line {
  text-align: center;
  font-size: 18px;
  color: #C9A227;
  margin-top: 20px;
  font-style: italic;
}

.about-page > div:hover {
  transform: translateY(-2px);
  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}